# Statistics - Session-5

# One Sample t Test

In [1]:
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns

__Example-1__

In [2]:
xbar = 10.5 
sigma = 1.5 
n = 40 
mu = 10

In [ ]:
H0 : mu = 10
Ha : mu > 10

__--Test Statistic__

In [4]:
z = (xbar - mu) / (sigma/np.sqrt(n))
z

2.1081851067789197

__--P-Value__

In [5]:
p = 1- stats.norm.cdf(z)
p

0.017507490509831247

P-Value < 0.05 --> reject to H0

In [ ]:
stats.ttest_1samp(a, 10, alternative="greater")

In [6]:
df = sns.load_dataset("mpg")

In [ ]:
df.abshead()

In [7]:
df[df["origin"] == "usa"].describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
count,249.000000,249.000000,249.000000,245.00000,249.000000,249.000000,249.000000
mean,20.083534,6.248996,245.901606,119.04898,3361.931727,15.033735,75.610442
std,6.402892,1.661425,98.501839,39.89779,794.792506,2.751112,3.677094
min,9.000000,4.000000,85.000000,52.00000,1800.000000,8.000000,70.000000
25%,15.000000,4.000000,151.000000,88.00000,2720.000000,13.000000,73.000000
50%,18.500000,6.000000,250.000000,105.00000,3365.000000,15.000000,76.000000
75%,24.000000,8.000000,318.000000,150.00000,4054.000000,16.900000,79.000000
max,39.000000,8.000000,455.000000,230.00000,5140.000000,22.200000,82.000000

Horsepower

H0 : mu = 110  
H1 : mu > 110

--alternative and short code for ttest

In [9]:
stats.ttest_1samp(df[df["origin"] == "usa"]["horsepower"].dropna(), 110, alternative="greater")

Ttest_1sampResult(statistic=3.550044602017898, pvalue=0.0002310035889540432)

MPG

H0 : mu = 22 
H1 : mu < 22

--alternative and short code for ttest

In [10]:
stats.ttest_1samp(df[df["origin"] == "usa"]["mpg"].dropna(), 22, alternative="less")

Ttest_1sampResult(statistic=-4.723072192881628, pvalue=1.9455026028456406e-06)

In [11]:
stats.ttest_1samp(df[df["origin"] == "europe"]["horsepower"].dropna(), 100, alternative="greater")

Ttest_1sampResult(statistic=-7.953024725516988, pvalue=0.9999999999853763)